* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  background-color: black;
  aspect-ratio: 1 / 1.5;
  border: 2px solid black;
  border-radius: 10px;
  width: min(90vw, 400px);
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#buttonContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
  align-content: flex-start;
  padding-top: 40px;
}

#display {
  background-color: white;
  opacity: 0.6;
  flex: 0 0 20%;
  width: 100%;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 25px;
}

.childButton {
  background-color: orange;
  aspect-ratio: 1/1;
  width: calc((100% - 12px) / 4);
  border: 2px solid #1e3b5a;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.childButton:hover {
  background-color: darkorange;
}

.operator {
  background-color: orangered;
}

.top-row {
  background-color: white;
  opacity: 0.6;
}
